.button {
    color: white;
    font-weight: 600;
    background-color: #4F1600;
    padding: 10px 30px;
    font-size: 14px;
    border-radius: 30px;
    cursor: pointer;
}

.light {
    background-color: #822904;
}
