.modalBackground {
    background-color: #000000aa;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalContainer {
    background-color: white;
    padding: 20px;
    height: fit-content;
    border-radius: 15px;
}

.buttonContainer {
    display: flex;

    align-items: flex-end;
}