.container {
    background: white;
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    display: block;
    flex-basis: 400px;
}

span {
    display: block;
    font-weight: 600;
}

input {
    display: block;
    width: 100%;
}

input[type=submit] {
    margin-top: 10px;
    background-color: purple;
    color: white;
}