.modalContainer {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000099;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: white;
    width: fit-content;
    height: fit-content;
    padding: 0 20px 20px 20px;
    border-radius: 20px;
}

button {
    background-color: purple;
    color: white;
    width: 100%;
}