.container {
    background: white;
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    display: block;
    flex-basis: 400px;
}

.userItem {
    border: 1px solid black;
    padding: 5px;
}

.userItem:not(:last-child){
    margin-bottom: 10px;
}