.NavigationContainer {
    background-color: #8B2B03;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NavigationContainer span {
    color: white;
    font-size: 25px;
    font-weight: 700;
}
