.foodListItem {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding: 20px 0;
}

.leftColumn .name {
   font-weight: 700;
   display: block;
   font-size: 17px;
   padding-bottom: 5px;
}

.leftColumn .description {
    font-style: italic;
    display: block;
    padding-bottom: 5px;
}

.leftColumn .price {
    color: #8B2B03;
    font-weight: 700;
}

.rightColumn .amount {
    font-weight: 700;
    margin-right: 10px;
}

.rightColumn input {
    width: 30px;
}

.amountContainer {
    padding-bottom: 10px;
}