.img {
    height: 300px;
    background-image: url("http://localhost:3000/bg.jpeg");
    background-size: cover;
}

.introText {
    background-color: #393839;
    width: 600px;
    text-align: center;
    color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.35);
    margin: auto;
    margin-top: -140px;
}

.foodListContainer {
    width: 700px;
    background-color: white;
    padding: 0 20px;
    border-radius: 10px;
    margin: auto;
    margin-top: 30px;
}